{% if check_vendor_filter %} {% include 'filters/check_vendor_filter.html' %} {% endif %}
{% if search_filter %} {% include 'filters/search_filter.html' %} {% endif %}
{% if category_filter %} {% include 'filters/category_filter.html' %}{% endif %}
{% if balance_filter %} {% include 'filters/balance_filter.html' %}{% endif %}
{% if vendor_filter %} {% include 'filters/vendor_filter.html' %}{% endif %}
{% if date_filter %} {% include 'filters/date_filter.html'%} {% endif %}
{% if favorite_filter %} {% include 'filters/favorite_filter.html'%}   {% endif %}
{% if person_filter %} {% include 'filters/person_filter.html' %} {% endif %}
{% if person_cate_filter %} {% include 'filters/person_cate_filter.html' %} {% endif %}
{% if paid_filter %} {% include 'filters/paid_filter.html' %} {% endif %}