
<!-- Modal -->
<div class="modal fade" id="quick_view_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ instance }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="card card-user">
              <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item disabled">Ημερομηνία --> {{ instance.date|date:"M d, Y" }}</li>
                        <li class="list-group-item">Τίτλος --> {{ instance.title }}</li>
                        <li class="list-group-item">Σχόλια <br> {{ instance.description }}</li>

                    </ul>
              </div>
              <div class="card-footer">
                  <hr>
                  <ul class="list-group">
                      <li class="list-group-item disabled">Αξία --> {{ instance.tag_value }}</li>
                  </ul>
            </div>
          </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>