<table class="table table-bordered">
    <tbody>
    <tr>
        <td>Αξια Προ Εκπτωσης</td>
        <th>{{ object.value }}</th>
    </tr>
    <tr>
        <td>Εκπτωση</td>
        <th>{{ object.discount_value }}</th>
    </tr>
    <tr>
        <td>Καθαρη Αξια</td>
        <th>{{ object.clean_value }}</th>
    </tr>
    <tr>
        <td>Αξια Φπα</td>
        <th>{{ object.taxes_value }}</th>
    </tr>
    <tr>
        <td>Πληρωτεο Ποσο</td>
        <th>{{ object.final_value }}</th>
    </tr>
    </tbody>
</table>