{% extends "dashboard.html" %} {% load render_table from django_tables2 %}

{% block extra_css %}
    <style>
        .divider_content {
            border-right: 1px dashed #333;
            padding-left: 3%

        }
    </style>
{% endblock %}

{% block content %}
    <div class='content'>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <button class="btn btn-primary"
                                type="button"
                                data-toggle="collapse"
                                data-target="#filters"
                                aria-expanded="false"
                                aria-controls="collapseExample"
                        >Filters
                        </button>
                         <a href='{{ back_url }}' class='btn btn-warning pull-right'>Επιστροφη</a>
                        <a href="{{ request.path }}" class="btn btn-danger">Καθαρισμος</a>
                    </div>
                    <div class="card-body">
                        <div class="collapse" id="filters">
                            <form class="form" method="get">
                                <div class="row">
                                    {% include 'filters/my_filters.html' %}
                                </div>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Αποθηκευση </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <div class='card'>
                    <div class='card-header'>
                        <div class='title'>
                        <a href='{{ create_url }}' class='btn btn-success'>Δημιουργια </a>
                        <div class="form-check">
                            <button class='btn btn-info' id='select_all'>Επιλογη Ολων </button>
                        </div>
                        <div class='row' id='modal_area'></div>
                        </div>
                    </div>
                    <div class='card-body'>
                        <form method='GET' target='_blank' class='form' action="{% url 'action_choose_vendor'%}">
                            {% render_table queryset_table %}
                            <br><hr>
                            <button type='submit' class='btn btn-info'>Επιλογή Προμηθευτη</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

{% block extra_js %}
    <script>
        $('#select_all').click(function(evt){
            evt.preventDefault();
            $(".myCheck").each( function() {
             $(this).attr('checked', true);
             }
             );
        })
        
    </script>

    <script>
    $('.quick_view').click(function (evt) {
        console.log('data!')
        evt.preventDefault();
        $('#modal_area').empty();
        const my_btn = $(this);
        const url = my_btn.attr('data-href');
        $.ajax({
            method: 'GET',
            dataType: 'json',
            url: url,

            success: function (data) {
                $('#modal_area').html(data.result);
                $('#quick_view_modal').modal('show');
            }
        })
    })
</script>

   
{% endblock %}